<html>
<body bgcolor='#33A18D'>
<h2> Congratulations! You have successfully registered with BestBay!</h2>
<%= link_to "Click here to go back", :controller => "welcome", :action => "homepage" %>

</body>
</html>