<div class="success message">
         <h3>Congratulations! Your Item has been successfully posted !</h3>
</div>


<h1>New item</h1>



<%= link_to "BestBay", :controller => "welcome", :action => "homepage" %>

<%= render 'form' %>

<%= link_to 'Back', items_path %>
